@use 'mixins';
@use 'variables';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100dvh;
    background: variables.$light_grey;
    @include mixins.flex-align-justify-direction-gap(center, center, column, 0);
}