@use 'variables';
@use 'fonts';

.error-input {
    border:0.063rem solid variables.$red  !important;
}

.error-text {
    color: variables.$red !important;
}

span {
    color: variables.$red;
    font-size: 0.625rem;
    font-family: 'Poppins-Italic';
    text-align: left;
}

@media (min-width: 64rem) and (min-height: 43.75rem) {
    span {
        font-size: 0.875rem;
    }
}