@use 'mixins';

@media (min-width: 64rem) and (min-height: 43.75rem) {
    .card {
        gap: 0;
        padding: 3.5rem;
        border-radius: 1.5rem 1.5rem 12.5rem 1.5rem;
        @include mixins.width-height(52.5rem, 40.688rem);
        
        &_date-inputs {
            gap: 2rem;
            @include mixins.width-height(45.5rem, 6.313rem);

            & > div {
                gap: 0.5rem;
                @include mixins.width-height(10rem, 6.313rem);
            }
        
            & .input {
                padding: 0.75rem 1.5rem;
                @include mixins.width-height(10rem, 4.5rem);
            }
        
            & .info {
                font-size: 0.875rem;
            }
        }

        .--day .info {
            @include mixins.width-height(2.313rem, 1.313rem);
        }
        
        .--month .info {
            @include mixins.width-height(4.188rem, 1.313rem);
        }
        
        .--year .info {
            @include mixins.width-height(2.938rem, 1.313rem);
        }    
        
        &_img {
            @include mixins.width-height(45.5rem, 6rem);
            
            & figure {
                @include mixins.width-height(6rem, 6rem);
                
                & img {
                    @include mixins.width-height(2.75rem, 2.75rem);
                }
            }
        }

        button {
            @include mixins.width-height(6rem, 6rem);
        }
        
        .line:last-child {
            display: none;
        }
    
        .line:first-child {
            width: 39.5rem;
        }
        
        &_date-outputs {
            @include mixins.width-height(45.5rem, 21.375rem);
            
            & > div {
                @include mixins.width-height(45.5rem, 7.125rem);
            }
        
            & .result-info, .info-output{
                font-size: 6.5rem;
                height: 7.125rem;
            }
        }
        
        .--years {
            width: 18.813rem;
        }
        
        .--months {
            width: 25.813rem;
        }
        
        .--days {
            width: 16.438rem;
        }
    }
}