//* Colors *

// Primary
$purple: hsl(259, 100%, 65%);
$red: hsl(0, 100%, 67%);
$gray: hsl(0, 1%, 44%);
$black: hsl(0, 0%, 8%);
$line: hsl(0, 0%, 86%);

// Neutral
$white: hsl(0, 0%, 100%);
$off_white: hsl(0, 0%, 94%);
$light_grey: hsl(0, 0%, 86%);
$smokey_grey: hsl(0, 1%, 44%);
$off_black: hsl(0, 0%, 8%);

//* Colors *