/* Styles for Chrome and Safari */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 1.875rem hsl(0, 0%, 100%) inset !important;
  -webkit-text-fill-color: hsl(0, 0%, 8%) !important;
}