/* Styles for Chrome and Safari */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 1.875rem hsl(0, 0%, 100%) inset !important;
  -webkit-text-fill-color: hsl(0, 0%, 8%) !important;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100dvh;
  background: hsl(0, 0%, 86%);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 0;
}

@font-face {
  font-family: "Poppins-Bold";
  src: url(../assets/fonts/Poppins-Bold.ttf);
}
@font-face {
  font-family: "Poppins-ExtraBoldItalic";
  src: url(../assets/fonts/Poppins-ExtraBoldItalic.ttf);
}
@font-face {
  font-family: "Poppins-Italic";
  src: url(../assets/fonts/Poppins-Italic.ttf);
}
.card {
  padding: 3rem 1.5rem;
  border-radius: 1.5rem 1.5rem 6.25rem 1.5rem;
  background: hsl(0, 0%, 100%);
  width: 21.438rem;
  height: 30.375rem;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 2rem;
}

.card_date-inputs {
  width: 18.438rem;
  height: 4.75rem;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;
  gap: 1rem;
}

.card_date-inputs > div {
  width: 5.479rem;
  height: 4.75rem;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 0.25rem;
}

.card_date-inputs .info {
  font-size: 0.75rem;
  font-family: "Poppins-Bold";
  text-align: left;
  text-transform: uppercase;
  letter-spacing: 0.25em;
  color: hsl(0, 1%, 44%);
}

.--day .info {
  width: 2rem;
  height: 1.125rem;
}

.--month .info {
  width: 3.625rem;
  height: 1.125rem;
}

.--year .info {
  width: 2.563rem;
  height: 1.125rem;
}

.card_date-inputs .input {
  padding: 0.25rem 1rem;
  border-radius: 0.5rem;
  border: solid 0.063rem hsl(0, 0%, 86%);
  outline: none;
  cursor: pointer;
  transition: 0.5s ease-in-out;
  font-size: 1.25rem;
  font-family: "Poppins-Bold";
  letter-spacing: 0.01em;
  color: hsl(0, 0%, 8%);
  width: 5.479rem;
  height: 3.375rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  gap: 1rem;
}

.card_date-inputs .input:hover {
  border-color: hsl(259, 100%, 65%);
}

.card_date-inputs .input::placeholder {
  color: hsl(0, 0%, 8%);
  opacity: 0.5;
}

.card_img {
  width: 18.438rem;
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  gap: 0;
}

.line {
  border: none;
  background: hsl(0, 0%, 86%);
  width: 7.219rem;
  height: 0.063rem;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;
  gap: 0.625rem;
}

.card_img figure {
  position: relative;
  border-radius: 13.5rem;
  background: hsl(259, 100%, 65%);
  transition: 0.5s ease-in-out;
  width: 4rem;
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 0.5rem;
}

.card_img figure:hover {
  background: hsl(0, 0%, 8%);
}

.card_img figure img {
  width: 1.5rem;
  height: 1.5rem;
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  flex-direction: row;
  gap: 0;
}

button {
  position: absolute;
  border: none;
  border-radius: 13.5rem;
  background: transparent;
  cursor: pointer;
  width: 4rem;
  height: 4rem;
}

.card_date-outputs {
  width: 18.438rem;
  height: 11.625rem;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 0;
}

.card_date-outputs > div {
  width: 18.438rem;
  height: 11.625rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  gap: 0.5rem;
}

.card_date-outputs .result-info, .info-output {
  font-size: 3.5rem;
  font-family: "Poppins-ExtraBoldItalic";
  text-align: left;
  line-height: 1.1em;
  letter-spacing: -0.02em;
  color: hsl(0, 0%, 8%);
}

.card_date-outputs .info-output {
  color: hsl(259, 100%, 65%);
}

.--years {
  width: 10.125rem;
  height: 3.875rem;
}

.--months {
  width: 13.875rem;
  height: 3.875rem;
}

.--days {
  width: 8.875rem;
  height: 3.875rem;
}

.error-input {
  border: 0.063rem solid hsl(0, 100%, 67%) !important;
}

.error-text {
  color: hsl(0, 100%, 67%) !important;
}

span {
  color: hsl(0, 100%, 67%);
  font-size: 0.625rem;
  font-family: "Poppins-Italic";
  text-align: left;
}

@media (min-width: 64rem) and (min-height: 43.75rem) {
  span {
    font-size: 0.875rem;
  }
}
@media (min-width: 64rem) and (min-height: 43.75rem) {
  .card {
    gap: 0;
    padding: 3.5rem;
    border-radius: 1.5rem 1.5rem 12.5rem 1.5rem;
    width: 52.5rem;
    height: 40.688rem;
  }
  .card_date-inputs {
    gap: 2rem;
    width: 45.5rem;
    height: 6.313rem;
  }
  .card_date-inputs > div {
    gap: 0.5rem;
    width: 10rem;
    height: 6.313rem;
  }
  .card_date-inputs .input {
    padding: 0.75rem 1.5rem;
    width: 10rem;
    height: 4.5rem;
  }
  .card_date-inputs .info {
    font-size: 0.875rem;
  }
  .--day .info {
    width: 2.313rem;
    height: 1.313rem;
  }
  .--month .info {
    width: 4.188rem;
    height: 1.313rem;
  }
  .--year .info {
    width: 2.938rem;
    height: 1.313rem;
  }
  .card_img {
    width: 45.5rem;
    height: 6rem;
  }
  .line:last-child {
    display: none;
  }
  .line:first-child {
    width: 39.5rem;
  }
  .card_img figure, button {
    width: 6rem;
    height: 6rem;
  }
  .card_img figure img {
    width: 2.75rem;
    height: 2.75rem;
  }
  .card_date-outputs {
    width: 45.5rem;
    height: 21.375rem;
  }
  .card_date-outputs > div {
    width: 45.5rem;
    height: 7.125rem;
  }
  .card_date-outputs .result-info, .info-output {
    font-size: 6.5rem;
    height: 7.125rem;
  }
  .--years {
    width: 18.813rem;
  }
  .--months {
    width: 25.813rem;
  }
  .--days {
    width: 16.438rem;
  }
}

/*# sourceMappingURL=style.css.map */
